pkgbase = aya
	pkgdesc = AYA is a desktop application for easily controlling android devices, which can be considered as a GUI wrapper for ADB.
	pkgver = 1.12.2
	pkgrel = 1
	url = https://aya.liriliri.io/
	arch = x86_64
	license = AGPL-3.0-only
	depends = zlib
	depends = hicolor-icon-theme
	depends = fuse2
	noextract = aya-1.12.2.AppImage
	options = !strip
	options = !debug
	source_x86_64 = aya-1.12.2.AppImage::https://github.com/liriliri/aya/releases/download/v1.12.2/AYA-1.12.2-linux-x86_64.AppImage
	sha256sums_x86_64 = SKIP

pkgname = aya
